@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #98ddff;
    color: #700000;
}

/* ---------- Header ---------- */

.ri-user-fill{
    margin-left: 5px;
}

.ri-shut-down-line{
    margin-left: 5px;
}

.menu-container {
    position: relative;
    font-family: Arial;
  }
  
  .hamburger {
    width: 28px;
    cursor: pointer;
  }
  
  .hamburger div {
    height: 4px;
    background-color: #0c1b33;
    margin: 5px 0;
    border-radius: 3px;
  }
  
  /* menu oculto */
  .menu {
    position: absolute;
    top: 0;
    left: 1040px;
    background-color: #347aa3;
    padding: 20px;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    min-width: 180px;
    margin-top: 50px;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 8px 0;
    cursor: pointer;
  }
  
  .menu hr {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.4);
    margin: 10px 0;
  }
  
  hr {
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.136);
  }

.header {
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 14px;
}

.header img{
    width: 70px;
}

.nav a {
    margin-left: 40px;
    text-decoration: none;
    color: #700000;
    font-size: 14px;
    transition: 0.3s;
}

.header P{
    margin-right: 50px;
}

.nav a:hover {
    opacity: 0.7;
}

/* ---------- Hero Section ---------- */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    position: relative;
}

.hero-text {
    max-width: 420px;
}

.hero-text h1 {
    font-size: 65px;
    line-height: 1.1;
    font-family: 'Pacifico', sans-serif;
    color: #fff;
}
 
.hero-text h1 span {
    display: block;
    color: #df0000;
}

.hero-text p {
    margin-top: 20px;
    font-size: 15px;
    opacity: 0.8;
    color: #520000;
    padding-bottom: 30px;
}

.btn {
    margin-bottom: 25px;
    padding: 12px 40px;
    background: #df0000;
    border: none;
    color: #ffb1b1;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    background: #700000;
}

.hero-img img {
    width: 400px;
}

.subscribe {
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-align: right;
    font-size: 28px;
    color: #fff;
    opacity: 0.9;
    line-height: 0.9;
}

